# Dependencies
node_modules/

# Build output
/dist

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
*.pid
*.seed
*.pid.lock

# Coverage
/coverage

# Cache
/.cache
/cache

# Temp
.tmp
.temp

# Editor
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
/coverage

# Vite
.vite

.vercel

# Certificats locaux mkcert
.certs
